/* color palette */
$dungeon-white: #ffffff;
$dungeon-black: #181818;
$color-background: var(--dungeon-black);
$color-text: var(--dungeon-white);

@media (prefers-color-scheme: dark) {

  $color-background: $dungeon-black;
  $color-text: $dungeon-white;
}