.game-board {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: $game-walls-color;
    display: none;

    .field {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 350px;
        height: 350px;
        background-color: $game-board-color;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .1);
    }

    .stone-walls {
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url("../images/stones-multicolors.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:nth-of-type(odd) {
            transform: rotateZ(90deg);
            -webkit-transform: rotateZ(90deg);
            -moz-transform: rotateZ(90deg);
            -ms-transform: rotateZ(90deg);
            -o-transform: rotateZ(90deg);
        }
    }

    .door-top {
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url("../images/door.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .door-right {
        @extend .door-top;
        transform: rotateZ(90deg);
    }

    .door-bottom {
        @extend .door-top;
        transform: rotateZ(180deg);
    }

    .door-left {
        @extend .door-top;
        transform: rotateZ(-90deg);
    }
}

.active {
    display: block;
}